/* Navbar */
.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #413839;
    font-size: 22px;
    text-align: left;
    padding: 0px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    text-decoration: underline;
  }
  
  /* Page title */
  h1 {
    /*float: left;*/
    color: #413839;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 0px 16px;
  }
  
  /* Columns */
  .left-column {
    list-style: none;
    float: left;
    width: 20%; /* Adjust the width as needed */
    font-size: 14px;
    height: auto;
    margin-right: 20px;
  }
  
  .left-column li {
    list-style: none;
    color: #413839;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }
  
  .right-column {
    padding: 20px;
  }
  
  .main-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Main content */
  .main-content {
    margin-left: 20%; /* Adjust the margin to match the width of the left column */
    padding: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
  }
  
  .body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  
  h2 {
    color: #34282C;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
  }
  
  /* Footer */
  footer.fixed-bottom {
    background-color: var(--global-footer-bg-color);
    font-size: .75rem;
    text-align: center;
  }
  
  .fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .left-column,
    .right-column {
      width: 100%;
      padding: 0;
    }
  
    .main-content {
      margin-left: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  