/* Navbar */
.topnav {
    overflow: hidden;
}
  
.topnav a {
    float: right;
    display: block;
    color: #413839;
    font-size: 22px;
    text-align: left;
    padding: 0px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    text-decoration: underline;
}
  
/* Page title */
h1 {
    /*float: left;*/
    color: #413839;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 0px 16px;
}
  
/* Columns */
.left-column {
    list-style: none;
    float: left;
    width: 20%; /* Adjust the width as needed */
    font-size: 14px;
    height: auto;
    margin-right: 20px;
}
  
.left-column li {
    list-style: none;
    color: #413839;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}
  
.right-column {
    padding: 20px;
}
  
.main-image {
    display: block;
    width: 100%;
    height: auto;
}
  
/* Main content */
.main-content {
    margin-left: 20%; /* Adjust the margin to match the width of the left column */
    padding: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
}
  
.body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
  
h2 {
    color: #34282C;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
  
/* Footer */
footer.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: var(--global-footer-bg-color);
    font-size: 0.75rem;
    text-align: center;
    padding: 10px; /* Add padding for some spacing */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
  
/* Ensure footer does not overlap content by adding margin to the body */
body {
    margin-bottom: 70px; /* Adjust margin to match the footer height */
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .left-column,
    .right-column {
        width: 100%;
        padding: 0;
    }
  
    .main-content {
        margin-left: 0;
    }

    footer.fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
        background-color: var(--global-footer-bg-color);
        padding: 10px;
    }

    body {
        margin-bottom: 70px; /* Ensure enough space for the footer */
    }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}