/* Navbar */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #413839;
  font-size: 22px;
  text-align: left;
  padding: 0px 16px;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}

/* Page title */
h1 {
  /*float: left;*/
  color: #413839;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding: 0px 16px;
}

/* Columns */
.left-column {
  list-style: none;
  float: left;
  width: 20%;
  font-size: 14px; /* set the font size to match the image */
  height: auto;
}

.right-column {
  margin-left: 20%; /* width of left column */
  padding: 20px;
}

/* Columns for mobile 
@media only screen and (max-width: 600px) {
.left-column, .right-column {
  width: 100%; /* full width 
  margin-bottom: 20px; /* add some spacing between columns
}*/

/*.img {
  display: block;
  width: 100%;
  height: auto; /* set height to auto so the image scales proportionally 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

a img {
  margin-right: 5px;
}*/

/* Main content */
.main-content {
  margin-left: 300px; /* adjust the left margin as needed */
  padding: 20px; /* add padding for better readability */
  font-size: 18px;
}

.body {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
}

h2 {
  color: #34282C;
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

/* Footer */
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}