.header {
    background-color: #F1F1F1;
    text-align: left;
    padding: 20px;
  }

   /* The navbar container */
.topnav {
    overflow: hidden;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
  }

/* Left column */
.left-column {
    float: left;
    width: 30%;
  }
  
  /* Right column */
  .right-column {
    margin-left: 30%; /* width of left column */
  }

  .sidebar {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .sidebar img {
    width: 100%;
    height: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  /*.sidebar a {
    display: block;
    padding: 10px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }*/

  /* Sidebar style */
/*.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
  }*/

  .main-content {
    margin-left: 300px; /* adjust the left margin as needed */
    padding: 20px; /* add padding for better readability */
  }
  
  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

  footer a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  