.header {
    background-color: #F1F1F1;
    text-align: left;
    padding: 20px;
  }

   /* The navbar container */
.topnav {
    overflow: hidden;
  }
  
  /* Navbar links */
  .topnav a {
    float: right;
    display: block;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Left column */
.left-column {
    float: left;
    width: 25%;
  }
  
  /* Right column */
  .right-column {
    margin-left: 25%; /* width of left column */
  }

  .sidebar {
    float: left;
    width: 25%;
    padding: 20px;
  }
  
  .sidebar img {
    width: 100%;
    height: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }

  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

  footer a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  