/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Body styling */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full height */
}

/* Main content */
.main-content {
    flex: 1; /* Makes sure main content takes available space */
    padding: 20px;
    font-size: 20px;
}

/* Navbar */
.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #413839;
    font-size: 22px;
    text-align: left;
    padding: 0px 16px;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
}

/* Page title */
h1 {
    color: #413839;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 0px 16px;
}

/* Footer */
footer {
    background-color: #f8f9fa; /* Light background */
    color: #6c757d; /* Subtle text color */
    padding: 20px 0; /* Top and bottom padding */
    text-align: center; /* Center the text */
    font-size: 0.75rem; /* Smaller font size */
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eaeaea; /* Optional border */
}

footer p {
    margin: 0;
}

footer a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline; /* Link hover effect */
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    .left-column, .right-column {
        width: 100%;
        padding: 0;
    }

    .main-content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
